{% extends "template.html" %}

{% block nav_home %}
    active
{% endblock %}

{% block body_top %}
    {# only display for non logged-in users #}
{#    {% if projects == None %}#}
    <div class="container-fluid m-0 p-0">
        <div class="jumbotron m-0 p-3 p-md-5 text-dark bg-light">
            <div class="col-md-auto align-self-center px-0">
                <div class="media">
                    <img class="align-self-start mr-5" style="width: 200px;"
                         src="{{-script_root-}}/static/img/ZTF_CompactGrayLB.png"
                         alt="Zwicky Transient Facility">
                    <div class="media-body">
                        <h2 class="mt-0">Zwickyverse</h2>
                        <p style="font-size: 1.2rem;">Zooniverse with an artificial human face:<br>
                            Simplifying data-set labeling for machine learning activities</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    {% endif %}#}
{% endblock %}

{% block body %}
    {# only display for logged-in users #}
    {% if projects != None %}
    <div class="container">
        <button type="button" class="btn btn-md btn-primary addButton"
                data-toggle="modal" data-target="#addProjectModal"
                data-user="{{ u }}"><i class="fas fa-plus"></i> New project</button>
        {% for project in projects %}
            <div class="row mt-2">
                <div class="col-md-12 mt-2">
                    <h3>
                        {{ projects[project]['name'] }}
                        {% if projects[project]['role'] == 'admin' %}
                            <button type="button" class="btn btn-sm btn-outline-primary"
                                    data-toggle="modal" data-target="#editProjectModal"
                                    data-user="{{ u }}">
                                edit</button>
                            <button type="button" class="btn btn-sm btn-outline-danger removeProjectButton"
                                    data-projectid="{{-project-}}">
                                remove</button>
                        {% endif %}
                    </h3>
                    <p>
                        {{ projects[project]['description'] }}
                    </p>

                    <div class="accordion mb-2" id="{{-project-}}_accordion">

                        <div class="card">
                            <div class="card-header p-0" id="{{-project-}}_accordion_headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#{{-project-}}_accordion_collapseOne" aria-expanded="false"
                                            aria-controls="{{-project-}}_accordion_collapseOne">
                                        Classes
                                    </button>
                                </h5>
                            </div>

                            <div id="{{-project-}}_accordion_collapseOne" class="collapse"
                                 aria-labelledby="{{-project-}}_accordion_headingOne"
                                 data-parent="#{{-project-}}_accordion">
                                <div class="card-body" style="max-height: 400px; overflow-x: hidden; overflow-y: scroll">
                                    {% for class in projects[project]['classes'] %}
                                        <span>{{ class }} <a href="#"><i class="fas fa-times"></i></a></span><br>
                                    {% endfor %}
                                    {% if projects[project]['classes'] | length > 0 %}
                                        <br>
                                    {% endif %}
                                    <a href="#" class="btn btn-sm btn-primary"
                                            data-toggle="modal" data-target="#editUserModal"><i class="fas fa-plus"></i> Add data classes</a>
                                </div>
                            </div>
                        </div>

                        {% if projects[project]['role'] == 'admin' %}
                            <div class="card">
                                <div class="card-header p-0" id="{{-project-}}_accordion_headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#{{-project-}}_accordion_collapseTwo" aria-expanded="false"
                                                aria-controls="{{-project-}}_accordion_collapseTwo">
                                            Users
                                        </button>
                                    </h5>
                                </div>
                                <div id="{{-project-}}_accordion_collapseTwo" class="collapse"
                                     aria-labelledby="{{-project-}}_accordion_headingTwo"
                                     data-parent="#{{-project-}}_accordion">
                                    <div class="card-body" style="max-height: 200px; overflow-x: hidden; overflow-y: scroll">
                                        {% for user in projects[project]['users'] %}
                                            <span>{{ user }} <a href="#"><i class="fas fa-times"></i></a></span><br>
                                        {% endfor %}
                                        {% if projects[project]['users'] | length > 0 %}
                                            <br>
                                        {% endif %}
                                        <a href="#" class="btn btn-sm btn-primary"
                                                data-toggle="modal" data-target="#editUserModal"><i class="fas fa-plus"></i> Add user</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="card">
                            <div class="card-header p-0" id="{{-project-}}_accordion_heading3">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#{{-project-}}_accordion_collapse3" aria-expanded="true"
                                            aria-controls="{{-project-}}_accordion_collapse3">
                                        Datasets
                                    </button>
                                </h5>
                            </div>

                            <div id="{{-project-}}_accordion_collapse3" class="collapse show"
                                 aria-labelledby="{{-project-}}_accordion_heading3"
                                 data-parent="#{{-project-}}_accordion">
                                <div class="card-body">
                                    {% for dataset in projects[project]['datasets'] %}
                                        <div class="col-md-12">
                                            <h4>
                                                {{ dataset }}
                                                <button type="button" class="btn btn-sm btn-outline-dark"
                                                        data-toggle="modal" data-target="#editUserModal"
                                                        data-user="{{ u }}">classify</button>
                                                {% if projects[project]['role'] == 'admin' %}
                                                    <button type="button" class="btn btn-sm btn-outline-dark"
                                                            data-toggle="modal" data-target="#editUserModal"
                                                            data-user="{{ u }}">inspect</button>
                                                    <button type="button" class="btn btn-sm btn-outline-primary"
                                                            data-toggle="modal" data-target="#editUserModal"
                                                            data-user="{{ u }}">edit</button>
                                                    <button type="button" class="btn btn-sm btn-outline-danger"
                                                            data-user="{{ u }}">remove</button>
                                                {% endif %}
                                            </h4>
                                            {% if projects[project]['datasets'][dataset]['description'] != None %}
                                                <p>
                                                    {{ projects[project]['datasets'][dataset]['description'] }}
                                                </p>
                                            {% endif %}
                                            {% if projects[project]['datasets'][dataset]['data'] | length > 0 %}
                                                <p>
                                                    <a class="btn btn-sm btn-outline-dark" data-toggle="collapse"
                                                       href="#{{-project-}}_{{-dataset-}}_files" role="button"
                                                       aria-expanded="false" aria-controls="{{-project-}}_{{-dataset-}}_files">
                                                        Files <i class="fas fa-caret-down"></i>
                                                    </a>
                                                </p>
                                                <div class="collapse" id="{{-project-}}_{{-dataset-}}_files">
                                                    <div class="card">
                                                        <div class="card-body p-1 pl-3" style="max-height: 200px; overflow-x: hidden;
                                                                                                    overflow-y: scroll">
                                                            {% for file in projects[project]['datasets'][dataset]['data'] %}
                                                                <span>{{ file }}{#<a href="#"><i class="fas fa-times"></i></a>#}</span><br>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <button type="button" class="btn btn-sm btn-primary addDatasetButton"
                                            data-projectid="{{-project-}}"><i class="fas fa-plus"></i> Add dataset</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

{#                #}
{#                <div class="col-md-12 mb-2">#}
{#                    <hr>#}
{#                </div>#}
            </div>
        {% endfor %}
    </div>
    {% endif %}


    <!-- Project Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addProjectModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addProject">
                        <div class="form-group">
                            <label for="form-name">Project name</label>
                            <input id="form-name" type="text" class="form-control"
                                   name="name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="form-name">Project description</label>
                            <input id="form-name" type="text" class="form-control"
                                   name="description" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="form-classes">Classes</label>
                            <input id="form-classes" type="text" class="form-control" placeholder="'class1' 'class2'"
                                   name="classes" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addProjectButton">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End Modal -->


{% endblock %}

{% block js %}
    <script>
        // add project
        $('#addProjectButton').click(function (e) {
            $.ajax({url: '{{-script_root-}}/projects',
                method: 'PUT',
                data: JSON.stringify($('#addProject').serializeJSON()),
                processData: false,
                contentType: 'application/json',
                success: function(data) {
                    if (data === 'success') {
                        location.reload(true);
                    }
                    else {
                        $('#addUserModal').modal('hide');
                        showFlashingMessage('Info:', data, 'danger');
                    }
                },
                error: function(data) {
                    $('#addUserModal').modal('hide');
                    showFlashingMessage('Info:', data, 'danger');
                }
            });
            return false;
        });

        // remove project
        $('.removeProjectButton').click(function (e) {
            // Extract info from data-* attributes
            var projectid = $(this).data('projectid');
            bootbox.confirm("Are you sure?", function(result) {
                if (result) {
                    $.ajax({url: '{{-script_root-}}/projects',
                        data: JSON.stringify({'project_id': projectid}),
                        method: 'DELETE',
                        processData: false,
                        contentType: 'application/json',
                        success: function(data) {
                            if (data === 'success') {
                                location.reload(true);
                            }
                            else {
                                showFlashingMessage('Info:', data, 'danger');
                            }
                        },
                        error: function(data) {
                            showFlashingMessage('Info:', data, 'danger');
                        }
                    });
                }
            });
            return false;
        });
    </script>
{% endblock %}