{% extends "template.html" %}

{% block nav_home %}
    active
{% endblock %}

{% block body_top %}
    {# only display for non logged-in users #}
{#    {% if projects == None %}#}
    <div class="container-fluid m-0 p-0">
        <div class="jumbotron m-0 p-3 p-md-5 text-dark bg-light">
            <div class="col-md-auto align-self-center px-0">
                <div class="media">
                    <img class="align-self-start mr-5" style="width: 200px;"
                         src="{{-script_root-}}/static/img/ZTF_CompactGrayLB.png"
                         alt="Zwicky Transient Facility">
                    <div class="media-body">
                        <h2 class="mt-0">Zwickyverse</h2>
                        <p style="font-size: 1.2rem;">Simplifying data-set labeling for ZTF machine learning activities</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    {% endif %}#}
{% endblock %}

{% block body %}
    {# only display for logged-in users #}
    {% if projects != None %}
    <div class="container">
        <button type="button" class="btn btn-md btn-primary addButton"
                data-toggle="modal" data-target="#addProjectModal"
                data-user="{{ u }}"><i class="fas fa-plus"></i> New project</button>
        {% for project in projects %}
            {% set project_id = project['_id'] | string %}
            <div class="row mt-2">
                <div class="col-md-12 mt-2">
                    <h3>
                        {{ project['name'] }}
                        {% if project['role'] == 'admin' %}
                            <button type="button" class="btn btn-sm btn-outline-primary"
                                    data-toggle="modal" data-target="#editProjectModal"
                                    data-user="{{ u }}">
                                edit</button>
                            <button type="button" class="btn btn-sm btn-outline-danger removeProjectButton"
                                    data-projectid="{{-project_id-}}">
                                remove</button>
                        {% endif %}
                    </h3>
                    <p>
                        {{ project['description'] }}
                    </p>

                    <div class="accordion mb-2" id="accordion_{{-project_id-}}">

                        <div class="card">
                            <div class="card-header p-0" id="accordion_{{-project_id-}}_headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#accordion_{{-project_id-}}_collapseOne" aria-expanded="false"
                                            aria-controls="accordion_{{-project_id-}}_collapseOne">
                                        Classes
                                    </button>
                                </h5>
                            </div>

                            <div id="accordion_{{-project_id-}}_collapseOne" class="collapse"
                                 aria-labelledby="accordion_{{-project_id-}}_headingOne"
                                 data-parent="#accordion_{{-project_id-}}">
                                <div class="card-body" style="max-height: 400px; overflow-x: hidden; overflow-y: scroll">
                                    {% for class in project['classes'] %}
                                        <span>{{ class }} <a href="#"><i class="fas fa-times"></i></a></span><br>
                                    {% endfor %}
                                    {% if project['classes'] | length > 0 %}
                                        <br>
                                    {% endif %}
                                    <a href="#" class="btn btn-sm btn-primary" data-projectid="{{-project_id-}}"
                                            data-toggle="modal" data-target="#addDataClassesModal"><i class="fas fa-plus"></i> Add data classes</a>
                                </div>
                            </div>
                        </div>

                        {% if project['role'] == 'admin' %}
                            <div class="card">
                                <div class="card-header p-0" id="accordion_{{-project_id-}}_headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                data-target="#accordion_{{-project_id-}}_collapseTwo" aria-expanded="false"
                                                aria-controls="accordion_{{-project_id-}}_collapseTwo">
                                            Users
                                        </button>
                                    </h5>
                                </div>
                                <div id="accordion_{{-project_id-}}_collapseTwo" class="collapse"
                                     aria-labelledby="accordion_{{-project_id-}}_headingTwo"
                                     data-parent="#accordion_{{-project_id-}}">
                                    <div class="card-body" style="max-height: 200px; overflow-x: hidden; overflow-y: scroll">
                                        {% for user in project['users'] %}
                                            <span>
                                                <b>{{ user }}</b>: {{ project['users'][user]['role'] }}
                                                {# TODO: #}
                                                <a href="#"><i class="fas fa-pen"></i></a>
                                                <a href="#"><i class="fas fa-times"></i></a>
                                            </span><br>
                                        {% endfor %}
                                        {% if project['users'] | length > 0 %}
                                            <br>
                                        {% endif %}
                                        <a href="#" class="btn btn-sm btn-primary" data-projectid="{{-project_id-}}"
                                                data-toggle="modal" data-target="#addUserModal"><i class="fas fa-plus"></i> Add user</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="card">
                            <div class="card-header p-0" id="accordion_{{-project_id-}}_heading3">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#accordion_{{-project_id-}}_collapse3" aria-expanded="true"
                                            aria-controls="accordion_{{-project_id-}}_collapse3">
                                        Datasets
                                    </button>
                                </h5>
                            </div>

                            <div id="accordion_{{-project_id-}}_collapse3" class="collapse show"
                                 aria-labelledby="accordion_{{-project_id-}}_heading3"
                                 data-parent="#accordion_{{-project_id-}}">
                                <div class="card-body">
                                    {% for dataset in project['datasets'] %}
                                        <div class="col-md-12">
                                            <h4>
                                                {{ dataset }}
                                                <button type="button" class="btn btn-sm btn-outline-dark"
                                                        data-toggle="modal" data-target="#editUserModal"
                                                        data-user="{{ u }}">classify</button>
                                                {% if project['role'] == 'admin' %}
                                                    <button type="button" class="btn btn-sm btn-outline-dark"
                                                            data-toggle="modal" data-target="#editUserModal"
                                                            data-user="{{ u }}">inspect</button>
                                                    <button type="button" class="btn btn-sm btn-outline-primary"
                                                            data-toggle="modal" data-target="#editUserModal"
                                                            data-user="{{ u }}">edit</button>
                                                    <button type="button" class="btn btn-sm btn-outline-danger"
                                                            data-user="{{ u }}">remove</button>
                                                {% endif %}
                                            </h4>
                                            {% if project['datasets'][dataset]['description'] != None %}
                                                <p>
                                                    {{ project['datasets'][dataset]['description'] }}
                                                </p>
                                            {% endif %}
                                            {% if project['datasets'][dataset]['data'] | length > 0 %}
                                                <p>
                                                    <a class="btn btn-sm btn-outline-dark" data-toggle="collapse"
                                                       href="#{{-project_id-}}_{{-dataset-}}_files" role="button"
                                                       aria-expanded="false" aria-controls="{{-project_id-}}_{{-dataset-}}_files">
                                                        Files <i class="fas fa-caret-down"></i>
                                                    </a>
                                                </p>
                                                <div class="collapse" id="{{-project_id-}}_{{-dataset-}}_files">
                                                    <div class="card">
                                                        <div class="card-body p-1 pl-3" style="max-height: 200px; overflow-x: hidden;
                                                                                                    overflow-y: scroll">
                                                            {% for file in project['datasets'][dataset]['data'] %}
                                                                <span>{{ file }}{#<a href="#"><i class="fas fa-times"></i></a>#}</span><br>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <button type="button" class="btn btn-sm btn-primary" data-projectid="{{-project_id-}}"
                                            data-toggle="modal" data-target="#addDatasetModal"><i class="fas fa-plus"></i> Add dataset</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

{#                #}
{#                <div class="col-md-12 mb-2">#}
{#                    <hr>#}
{#                </div>#}
            </div>
        {% endfor %}
    </div>
    {% endif %}


    <!-- Add Project Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addProjectModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addProject">
                        <div class="form-group">
                            <label for="form-name">Project name</label>
                            <input id="form-name" type="text" class="form-control"
                                   name="name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="form-name">Project description</label>
                            <input id="form-name" type="text" class="form-control"
                                   name="description" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="form-classes">Classes</label>
                            <input id="form-classes" type="text" class="form-control" placeholder="class1 class2 ..."
                                   name="classes" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addProjectButton">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End Modal -->

    <!-- Add Data Classes Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addDataClassesModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add data class(es) to project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addDataClasses">
                        <div class="form-group">
                            <input id="form-projectid" type="hidden" class="form-control"
                                   name="project_id" autocomplete="off">

                            <label for="form-classes">Classes</label>
                            <input id="form-classes" type="text" class="form-control" placeholder="class1 class2 ..."
                                   name="classes" autocomplete="off">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addDataClassButton">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End Modal -->

    <!-- Add User Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="addUserModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add user to project</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addUser">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input id="form-projectid" type="hidden" class="form-control"
                                       name="project_id" autocomplete="off">

                                <label for="form-user">User</label>
                                <input id="form-user" type="text" class="form-control"
                                       name="add_user" autocomplete="off">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="form-user-role">Role</label>
                                <select id="form-user-role" class="form-control" name="add_user_role">
                                    <option selected>user</option>
                                    <option>admin</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addUserButton">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End Modal -->


{% endblock %}

{% block js %}
    <script>
        // add project id to modals:
        // Build modal on-the-fly
        $('#addDataClassesModal, #addUserModal').on('show.bs.modal', function (event) {
            var trigger = $(event.relatedTarget); // Who triggered the modal? [to extract info]
            // Extract info from data-* attributes
            var projectid = trigger.data('projectid');

            var modal = $(this);
            modal.find("#form-projectid").val(projectid);
        });

        // add project
        $('#addProjectButton').click(function (e) {
            $.ajax({url: '{{-script_root-}}/projects',
                method: 'PUT',
                data: JSON.stringify($('#addProject').serializeJSON()),
                processData: false,
                contentType: 'application/json',
                success: function(data) {
                    if (data === 'success') {
                        location.reload(true);
                    }
                    else {
                        $('#addUserModal').modal('hide');
                        showFlashingMessage('Info:', data, 'danger');
                    }
                },
                error: function(data) {
                    $('#addUserModal').modal('hide');
                    showFlashingMessage('Info:', data, 'danger');
                }
            });
            return false;
        });

        // remove project
        $('.removeProjectButton').click(function (e) {
            // Extract info from data-* attributes
            var projectid = $(this).data('projectid');
            bootbox.confirm("Are you sure?", function(result) {
                if (result) {
                    $.ajax({url: '{{-script_root-}}/projects',
                        data: JSON.stringify({'project_id': projectid}),
                        method: 'DELETE',
                        processData: false,
                        contentType: 'application/json',
                        success: function(data) {
                            if (data === 'success') {
                                location.reload(true);
                            }
                            else {
                                showFlashingMessage('Info:', data, 'danger');
                            }
                        },
                        error: function(data) {
                            showFlashingMessage('Info:', data, 'danger');
                        }
                    });
                }
            });
            return false;
        });

        // add classes to project
        $('#addDataClassButton').click(function (e) {
            {#var projectid = $(this).data('projectid');#}
            {#var data = Object.assign({}, {'project_id': projectid}, $('#addDataClasses').serializeJSON());#}
            $.ajax({url: '{{-script_root-}}/projects',
                method: 'POST',
                data: JSON.stringify($('#addDataClasses').serializeJSON()),
                processData: false,
                contentType: 'application/json',
                success: function(data) {
                    if (data === 'success') {
                        location.reload(true);
                    }
                    else {
                        $('#addDataClassesModal').modal('hide');
                        showFlashingMessage('Info:', data, 'danger');
                    }
                },
                error: function(data) {
                    $('#addDataClassesModal').modal('hide');
                    showFlashingMessage('Info:', data, 'danger');
                }
            });
            return false;
        });

        // add user to project
        $('#addUserButton').click(function (e) {
            $.ajax({url: '{{-script_root-}}/projects',
                method: 'POST',
                data: JSON.stringify($('#addUser').serializeJSON()),
                processData: false,
                contentType: 'application/json',
                success: function(data) {
                    if (data === 'success') {
                        location.reload(true);
                    }
                    else {
                        $('#addUserModal').modal('hide');
                        showFlashingMessage('Info:', data, 'danger');
                    }
                },
                error: function(data) {
                    $('#addUserModal').modal('hide');
                    showFlashingMessage('Info:', data, 'danger');
                }
            });
            return false;
        });
    </script>
{% endblock %}